* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');


:root {
    /* Primary Colors */
    --orange: hsl(26, 100%, 55%);
    --pale-orange: hsl(25, 100%, 94%);

    /* Neutral Colors */
    --color-very-dark-blue: hsl(220, 13%, 13%);
    --dark-grayish-blue: hsl(219, 9%, 45%);
    --grayish-blue: hsl(220, 14%, 75%);
    --light-grayish-blue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);

    /* default styles */
    --font-size-body: 16px;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-family: 'Kumbh Sans', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    max-width: 100%;
    height: auto;
    display: block;
}

.container{
    max-width: 1000px;
    margin: auto;
}
.hidden{
    display: none;
}
.invisible{
    display: none !important;
}
header{
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex: 1;
    margin: 0 auto;
    margin-bottom: 80px;
}
.header-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}
.header-left{
    display: flex;
    align-items: center;
}
.nav-links{
    margin-left: 3rem;
    list-style: none;
    display: flex;
    align-content: center;
    gap: 2rem;
    color: var(--dark-grayish-blue);
}
.nav-link:hover{
    color: rgb(58, 58, 58);
}
.nav-link{
    cursor: pointer;
    height: 100%;
    position: relative;
}
.nav-link:hover::after{
    content: "";
    position: absolute;
    bottom: -30px;
    border-radius: 10px;
    display: block;
    background-color: var(--orange);
    width: 100%;
    height: 3px;
}
.header-right{
    display: flex;
    align-items: center;
    gap: 1.8rem;
}
.avatar, .cart{
    width: 35px;
    margin: 1rem 0;
}
.avatar:hover{
    outline: 2px solid var(--orange);
    border-radius: 50%;
}
.cart:hover{
    filter: brightness(0%);
    color: var(--orange);
}
.cart-btn{
    background-color: transparent;
    border: none;
}
.indicator{
    background-color: var(--orange);
    padding: 0.2rem 0.5rem;
    border-radius: 50%;
    color: var(--white);
    position: absolute;
    top: -15px;
    right: -10px;
}
.cart-container{
    position: relative;
}
.cart-wrp{
    position: absolute;
    left: -260px;
    top: 50px;
    z-index: 30;
    width: 350px;
    height: 250px;
    background-color: var(--white);
    box-shadow: 0 0 10PX 0 #000;
    border-radius: 8px;
}

@media (max-width: 767px){
  .cart-wrp{
    left: 1rem;
    right: 1rem;
    width: auto;
    max-width: 340px;
  }
}
.cart-heading{
    font-size: 1rem;
    font-weight: 700;
    padding: 1rem;
}
.divider{
    width: 100%;
    height: 1px;
    background-color: rgba(125, 125, 125, 0.600);
}
.cart-content{
    height: 200px;
}
.empty{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product-infos{
    margin-left: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
    justify-content: space-around;
}
.cart-content .product div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-title{
    color: var(--dark-grayish-blue);
}

.product-infos p:last-child{
    margin-right: auto;
    font-size: 14px;
}


.delete-btn{
    background-color: transparent;
    border:none;
    width: 16px;
    cursor: pointer;
}
.checkout-btn{
    background-color: var(--orange);
    border-radius: 8px;
    border: none;
    color: var(--white);
    font-weight: 700;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    padding: 1rem;
    cursor: pointer;
}
